body html{
    margin: 0;
    padding: 0;

}
.bgimage{
    background-image: url('IMAGES/img.jpg');
    background-size: cover;
}
.mycorousel{
    width: 60%;
    height: 20%;
}
#sticky-footer {
    flex-shrink: none;
  }